body {
    height: 100vh;
    width: 100vw;    
    background-image: url("Design/CV Site Faded Background 02.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

main {    
    display: grid;
    grid-template-columns: 0.8fr auto auto 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-gap: 15px;
    height: 100vh;
    width: 100vw;
}

.left-column {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: right;
    max-width: 450px;

    h1 img {
        width: 450px;
    }

    h1 {
        margin-bottom: 10px;
    }    
}


.right-column {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;  
    padding: 0 25px;
    width: 400px;

    .copy-paragraph {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        text-align: left;
        position: relative;
           
        
        .paragraph-tag {
            padding-right: 40px;
            height: 66px;
            cursor: pointer;
        }

        button {
            background-color: rgba($color: #000000, $alpha: 0);
            border: none;
            outline: none;
            position: absolute;
            right: 3px;
            transform: translateY(-5px);
        }

        button:focus {
            outline: none !important;
        }

        img {
            height: 20px;
            cursor: pointer;
        }
    }

    form button {        
        width: 100%;
        height: auto;
        background-color: #ffffff;      
        border: none;  
        border-radius: 19px;
        cursor: pointer;        
    }

    h3 {
        margin-top: 30px;
    }

}