@media (max-width: 700px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    .left-column {
        margin-top: 5em;        
        max-width: auto;

        H1 img {
            width: 300px;
        }
    }

    .right-column {
        margin-top: 5em;
        margin-bottom: 5em;
        width: auto !important;
        padding: 36px;

        .download-button {
            width: 300px;
        }

        .copy-paragraph {
            text-align: right;
            height: auto;      
            justify-content: center;      
        }

        .paragraph-tag {           
            width: 80%;
            padding-right: 15px !important;
        }
    }

}