// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 930px;

// Tablets and small desktops
$screen-lg-min: 1000px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@keyframes arrowFill {
    0% { fill: rgba(255, 255, 255, 0.9) }
    100% { fill: rgba(255, 255, 255, 0.4) }
}

@keyframes arrowBounce {
    0% { transform: translateX(0); }
    30% { transform: translateX(-20px); }
    50% { transform: translateX(0); }
    70% { transform: translateX(-8px); }
    94% { transform: translateX(0); }
    98% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}


body {
    background: linear-gradient(to top left, #4233f2, 40%, #7244a7);
}

.grid-container {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 0 50vh 50vh 0fr 260fr;
    grid-gap: 20px;

    opacity: 0;
    transition: opacity 0.5s;

    @media(max-width:#{$screen-md-min}) {
        display: block;
        padding-left: 14px;
        padding-right: 14px;
    }

    @media(max-width:#{$screen-sm-min}) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.left-column {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: right;
    max-width: 600px;

    .stroke {
        margin-bottom: 40px;
    }

    @media(max-width:#{$screen-md-min}) {
        text-align: center;
        margin: 60px auto 50px auto;
    }
}

.my-auto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-column {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
    padding: 0 25px;
    max-width: 600px;
    min-width: 450px;

    @media(max-width:#{$screen-md-min}) {
        text-align: center;
        margin: 60px auto 100px auto;
        padding: 0;
    }

    @media(max-width:#{$screen-sm-min}) {
        min-width: 0;
    }

    .copy-paragraph {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        text-align: left;
        position: relative;

        @media(max-width:#{$screen-md-min}) {
            max-width: 500px;
            text-align: left;
            margin: 0 auto 20px auto;
        }
    }
}

.down-arrow {
    position: absolute;
    bottom: 10%;
    left: -10%;
    transform: rotate(90deg);
    padding: 20px;
    cursor: pointer;
}

.down-arrow:hover svg {
    animation-name: arrowBounce;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-play-state: initial;
}

.down-arrow svg g path {
    animation: 2s arrowFill;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

html {
    scroll-behavior: smooth;
}
