// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 930px;

// Tablets and small desktops
$screen-lg-min: 1000px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// @-webkit-keyframes gradient {
//     0%{background-position:4% 0%}
//     50%{background-position:97% 100%}
//     100%{background-position:4% 0%}
// }
// @-moz-keyframes gradient {
//     0%{background-position:4% 0%}
//     50%{background-position:97% 100%}
//     100%{background-position:4% 0%}
// }
// @keyframes gradient {
//     0%{background-position:4% 0%}
//     50%{background-position:97% 100%}
//     100%{background-position:4% 0%}
// }

body {
    background: linear-gradient(to top left, #4233f2, 40%, #7244a7);
    // background-size: 400% 400%;

    // -webkit-animation: gradient 14s ease infinite;
    // -moz-animation: gradient 14s ease infinite;
    // animation: gradient 14s ease infinite;
}

main {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 25fr 90fr 90fr 0fr 260fr;
    grid-gap: 20px;

    @media(max-width:#{$screen-md-min}) {
        display: block;
        padding-left: 14px;
        padding-right: 14px;
    }

    @media(max-width:#{$screen-sm-min}) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.left-column {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: right;
    max-width: 600px;

    h1 {
        margin-bottom: 30px;
    }

    @media(max-width:#{$screen-md-min}) {
        text-align: center;
        margin: 80px auto 50px auto;
    }
}

.right-column {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
    padding: 0 25px;
    max-width: 600px;
    min-width: 450px;

    @media(max-width:#{$screen-md-min}) {
        text-align: center;
        margin: 60px auto 100px auto;
        padding: 0;

    }

    .copy-paragraph {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        text-align: left;
        position: relative;

        @media(max-width:#{$screen-md-min}) {
            max-width: 500px;
            text-align: left;
            margin: 0 auto 20px auto;
        }
    }

    .download-button {
        display: block;
        width: 65%;
        text-align: center;
        margin-left: auto;
        background-color:rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 0);
        border-radius: 19px;
        cursor: pointer;
        transition: all 0.2s ease;

        @media(max-width: #{$screen-lg-min}) {
            width: 75%;
        }

        @media(max-width:#{$screen-md-min}) {
            width: 60%;
            margin: 0 auto;
        }

        @media(max-width:#{$screen-sm-min}) {
            width: 70%;
        }

    }

    .download-button:hover {
        border: 2px solid rgba(255, 255, 255, 0.9);
        background-color: rgba(255, 255, 255, 0);
        color: #fff;
    }

    .email {
        display: block;
        padding-top: 30px;
        color: rgba(255, 255, 255, 1);
        transition: color 0.1s ease;
        text-align: right;

        @media(max-width:#{$screen-md-min}) {
            text-align: center;
        }
    }

    .email:hover {
        color: rgba(255, 255, 255, 0.7);
    }
}

.section-previous-work {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.header-previous-work {
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    padding-bottom: 80px;
    margin: 0 -12px;
}

.gallery-item-shell {
    width: 33.333333333%;
    padding: 24px 14px;

    @media(max-width: #{$screen-md-min}) {
        width: 50%;
    }

    @media(max-width: #{$screen-sm-min}) {
        width: 100%;
    }
}

// .gallery-item-shell:first-child {
//     margin-left: 0;
// }

// .gallery-item-shell:last-child {
//     margin-right: 0;
// }

.gallery-item {
    width: 100%;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.gallery-image-ratio-box {
    height: 0;
    padding-top: 150%;
    position: relative;
    z-index: 1;
}

.gallery-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item-text {
    background: linear-gradient(to top left, rgba(66, 51, 242, 0.75), rgba(114, 68, 167, 0.75));
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.25s ease;

    h3 {
        margin: 0;
        padding: 0 4px;
        text-align: center;
    }

    .gallery-subtitle {
        margin-top: 4px;
        opacity: 0.75;
    }
}

.gallery-item:hover .item-text {
    opacity: 1;
}
