@import url('https://fonts.googleapis.com/css?family=Asul|Chivo:300,400,700,900');

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1000px;

// Large tablets and desktops
$screen-xl-min: 1200px;

body {
    font-family: "Asul", serif;
    font-weight: 400;
    line-height: 1.65;
    color: #ffffff;
    font-size: 18px;

    @media(max-width:#{$screen-lg-min}) {
        font-size: 16px;
    }

}

.stroke {
    font-family: "Chivo", sans-serif;
    font-size: 110px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.05;
    -webkit-text-stroke: 3px #ffffff;
    -webkit-text-fill-color: transparent;

    @media(max-width:#{$screen-xl-min}) {
        font-size: 90px;
    }

    @media(max-width:#{$screen-lg-min}) {
        font-size: 80px;
    }

    @media(max-width:#{$screen-sm-min}) {
        font-size: 50px;
        -webkit-text-stroke: 2px #ffffff;
    }
}

.h1-svg {
    display: inline-block;
    width: 450px;
    height: 200px;
    vertical-align: top;
}

h2 {
    font-family: "Chivo", sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.5px;

    @media(max-width:#{$screen-sm-min}) {
        font-size: 20px;
    }
}

h3 {
    font-family: "Chivo", sans-serif;
    font-weight: 200;
    font-size: 36px;
    letter-spacing: 0.35px;
    line-height: 1.25;

    @media(max-width: #{$screen-sm-min}) {
        font-size: 24px;
    }
}

.paragraph-tag {
    letter-spacing: 0.5px;
}

.download-button {
    padding: 28px 0 28px 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "chivo";
    font-weight: 400;
    font-size: 14px;
}

.email {
    font-family: "Chivo";
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

